#title{
    color: cornsilk;
    text-align: center;
}
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    background-color: black;
}
body{
  height: 100vh
#image{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
}
#image img{
    height: 500px;
    text-align: center;
}
